body {
    font-family: 'Roboto', sans-serif;
}


/*=============header section==================== */

#header span {
    font-size: 1.3em;
    font-weight: 1000;
    color: #5C1B1B;
}

#header .navbar {
    font-size: 1.3em;
}

#header .navbar ul li {
    margin: 0.7em;
}

#header .row .col1 {
    max-width: 100%;
    overflow: hidden;
}

#header .row .col1 img {
    max-width: 100%;
}

#header .row .col2 {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header .row .col2 h1 {
    font-size: 3em;
    font-weight: 1000;
}

#header .row .col2 p {
    font-size: 20px;
}

#header .row .col2 button {
    background-color: #5C1B1B;
    color: #fff;
    font-size: 1.3em;
    border-radius: 1.2em;
    padding: 0.5em 1em;
    border: none;
}
.logReg.register-page {
    width: 400px;
    /* padding: 10% 0 0; */
     /* margin-top: 5%;  */
    /*top: 40%;
    left: 50%;
    transform: translate(200%, -20%); */
}

.form {
    position: relative;
    z-index: 1;
    background: #d2d4dc;
    max-width: 400px;
    margin: 4px auto 100px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

.form h4 {
    font-weight: bold;
}

.form label {
    width: 40%;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top: 1rem;
}

.form input {
    width: 55%;
    border: none;
    border-radius: 5px;
}

.form button {
    border-radius: 10px;
    background: #5C1B1B;
    padding: 2px;
    width: 42%;
    border: none;
    color: white;
    margin-bottom: 1rem;
}

.form a {
    margin: 15px;
    color: black;
}


/* MEDIA QUERY */

@media only screen and (max-width: 600px) {
    /*=============header section==================== */
    #navbar .row {
        height: 80vh;
    }
    #header .row .col1 {
        max-width: 100%;
        overflow: hidden;
    }
    #header .row .col2 {
        padding: 20%;
    }
    #header .row .col2 h1 {
        font-size: 1.7em;
    }
    #header .row .col2 p {
        font-size: 13px;
    }
    #header .row .col2 button {
        background-color: #5C1B1B;
        color: #fff;
        font-size: 1em;
        border-radius: 1.2em;
        padding: 0.5em 1em;
        border: none;
    }
    /* YOUR CODE HERE */
    /* END OF YOUR CODE HERE */
}